body {
	/* gradient maybe */
	background: rgba(247,247,247,1);
	background: -moz-linear-gradient(-45deg, rgba(247,247,247,1) 0%, rgba(212,210,212,1) 66%, rgba(166,159,166,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(247,247,247,1)), color-stop(66%, rgba(212,210,212,1)), color-stop(100%, rgba(166,159,166,1)));
	background: -webkit-linear-gradient(-45deg, rgba(247,247,247,1) 0%, rgba(212,210,212,1) 66%, rgba(166,159,166,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(247,247,247,1) 0%, rgba(212,210,212,1) 66%, rgba(166,159,166,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(247,247,247,1) 0%, rgba(212,210,212,1) 66%, rgba(166,159,166,1) 100%);
	background: linear-gradient(135deg, rgba(247,247,247,1) 0%, rgba(212,210,212,1) 66%, rgba(166,159,166,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#a69fa6', GradientType=1 );

	position: relative;
}

.container_wrapper {
	background-color: white;
	margin: 8px -7px 0px -7px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text_wrapper {
	padding: 10px 15px 15px 15px;
}

#container_canvas {
	background: rgb(48,124,179);
}

#canvas {
	width: 100%;
	max-height: calc(100vh - 22px);
	vertical-align: middle;
}

#container_about {
	height: ;
}

#container_controls {
}

#container_graph {
}

#container_end {
	padding-bottom: 5px;
	margin-bottom: 3px;
}

#documentation_link {
	display: block;
	text-align: right;
}

#reset_button {
	display: inline-block;
}