html {
	height: 100%;
	width: 100%;
}

body {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0px;
	overflow: hidden;
}

#canvas {
	width: 100%;
	height: 100%;
}

#canvas_container {
	margin: 0px;
	height: 70%;
	width: 70vh;
}

#controls_container {
	float: right;
	background-color: #eeeeee;
	height: 70%;
	width: calc(100% - 70vh);
}

#graph_container {
	float: right;
	background-color: #cccccc;
	height: 30%;
	clear: right;
	width: 100%;
}

@media (min-aspect-ratio: 5/4) {
	#canvas_container {
		margin: 0px;
		height: 100%;
		width: 100vh;
	}

	#controls_container {
		float: right;
		background-color: #eeeeee;
		height: 50%;
		width: calc(100% - 100vh);
	}

	#graph_container {
		float: right;
		background-color: #cccccc;
		height: 50%;
		clear: right;
		width: calc(100% - 100vh);
	}
}

@media (max-aspect-ratio: 4/5) {
	#canvas_container {
		margin: 0px;
		height: 100vw;
		width: 100%;
	}

	#controls_container {
		position: absolute;
		bottom: 0px;
		background-color: #eeeeee;
		height: calc(100% - 100vw);
		width: 50%;
	}

	#graph_container {
		position: absolute;
		bottom: 0px;
		right: 0px;
		background-color: #cccccc;
		height: calc(100% - 100vw);
		width: 50%;
	}
}